* {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.section {
  background: linear-gradient( #f4eafd, #ffffff) ;
  padding-top: 150px;
  min-height: 100vh;
  border-top:2px dotted blueviolet;

}

header {
  background: #f7f8f8;
  min-height: 100vh;
}


h2 {
  text-align: center;
  font-size: 30px;
}

.box {
  position: relative;
  width: 1136px;
  margin: 0 auto;
}

/* Barra de menu fixa */
.menu-topo {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  

  position: fixed;
  width: 100%;
  height: auto;
  background-color: #eaf2fd;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
  padding: 20px;
  background: linear-gradient(rgb(102, 10, 105), rgba(122, 5, 102, 0.979));
}


/* Title-with-logo */
.logo {
  display: inline;
  flex-direction: row;
  width: 134px;
  height: auto;
  margin-left: 15px;
}

.logo a {
  text-decoration: none;
}


/*TOPO MENU CONFIGURAÇÕES*/


#navigation {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  margin-right: 25px;

  position: relative;
}

nav ul li {
  display: inline;
  font-size: 1em;
  
  padding: 0 0 0 5px;
  margin-right: 5px;
  color: #f2eef5;

}

.logo a spam:hover{
  text-shadow: 1px 1px 5px rgb(197, 173, 207);
  color: rgb(255, 255, 255);
  font-weight: 500;

}

nav ul li a {
  text-decoration: none;
  color: rgb(225, 194, 255);
}

nav ul li a:hover, .logo a:hover, nav ul li:hover{
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px rgb(197, 173, 207);
  
}

spam {
  position: static;
  width: 102px;
  height: 19px;

  font-family: 'Raleway', sans-serif;
  font-size: 16.5px;
  color: rgb(243, 222, 253);

}

#img-logo {
  position: static;
  height: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
  border-radius: 50%;

}



/* APRESENTAÇÂO PESSOAL DO PERFIL*/


.perfil-principal {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  position: static;
  width: 80%;
  height: 616px;
}

.box-perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: static;
  width: 751px;
  height: auto;
  left: 0;
  top: 61px;
}
/*   CONTEUDO DO PERFIL   */

.titulo-perfil {
  position: static;
  width: 751px;
  height: auto;
  padding: 1em 0;

  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  line-height: 45px;
  color: rgba(158, 80, 182, 0.952);
  text-shadow: 1px 1px 2px #264ea5bd;
}

p.apresentacao {
  margin: 15px 0;
  color: rgb(92, 22, 158);
  font-size: 15.4px;
}

.lista-perfil {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

}

.perfil-links {
padding: 10px 25px 0 0;
}

.perfil-links img {
  width: 20px;
  height: 20px;
}

.lista {
  position: static;
  width: 50px;
  height: 19px;
  text-decoration: none;
  font-weight: 500;
}

.lista:hover {
  text-decoration: underline;
  
}

#img-profile {
  position: static;
  width: 25%;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(186, 15, 209, 0.562);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
  opacity: 100%;
  
}

/* SECTION SOBRE MIM  */

#sobre-mim {
  background-color: #f4eafd;
  display: flex;
  flex-direction: column;
  align-items: center;


  position: static;
  width: 100%;
  height: auto;
  padding-top: 50px;
  
}

.box-sobre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2em;
  position: static;
  width: 80%;
  height: 300px;
  
}

.box-sobre h2 {
  padding-top: 2em;
  color: rgba(158, 80, 182, 0.952);
  text-shadow: 1px 1px 2px #264ea5bd;
}

.box-sobre p{

  position: static;
  width: 751px;
  height: auto;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
  padding-top: 2em;
  text-align:left;
  color: rgb(32, 9, 46);
}

#assinatura {
  position: static;
  width: 260px;
  height: 65px;
}

/* -------------------  SKILLS E HOBBIES --------------------- */

#skills-hobbies {

  width: 100%;
  height: 100vh;
  padding-top: 150px;
}

.container-hobbies {
  width: 100%;
  display: block;
  align-items: center;
  padding-bottom: 20px;

  
  /* border: 2px solid rgba(137, 43, 226, 0.774); */
}

.container-hobbies h2 {
padding: 0em;
margin-top: auto;
color: rgba(158, 80, 182, 0.952);
text-shadow: 1px 1px 2px #264ea5bd;
}

.box-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.box-itens {
 
  width: 150px;
  height: 150px;
  background-color: #f4eafd;
  margin: 10px;
  box-shadow: 1px 1px 15px rgba(58, 57, 57, 0.342);

  border-bottom: 1px solid rgba(137, 43, 226, 0.76);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box-itens img {
  width: 4rem;
  height: auto;
  padding: 20px;
  
}

.box-itens p {
  text-align: center;
  font-weight: 700;
  color: blueviolet;
}

/* -------------------  FORMACAO --------------------- */


.section h2 {
  color: rgba(158, 80, 182, 0.952);
  text-shadow: 1px 1px 2px #264ea5bd;
  padding-bottom: 35px;

}

.box-fomacao {
  
  display: flex;
  width: 80%;
  height: auto;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
 
 }

.box-content {
  width: 300px;
  height: 250px;
  background-color: #f4eafd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(61, 60, 60, 0.363);
  border-bottom: 2px solid rgba(154, 0, 185, 0.842);
}

.box-content img {
  width: 220px;
  height: 100px;
  padding-bottom: 15px;
}

.box-content h4 {
  font-weight: bolder;
}

.box-content h4, p {
  
  color: blueviolet;
  padding: 5px;
}

/* -------------------  Projetos --------------------- */

.box-experiencia {
  width: 1136px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.caixa-projetos {
  width: 80%;
  height: 50%;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 50px 50px 50px 0px;
}

.link-projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  
}

.link-projeto h4 {
  font-weight: 600;
  margin: 5px;
  color: blueviolet;
}

.items-button {
  width: 150px;
  height: 25px;
  background: white;
  color: blueviolet;
  font-weight: 500;
  margin: 5px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);

}

.items-button a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.items-button:hover,  .items-button a:hover{
  text-decoration: underline;
  background:blueviolet ;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(186, 15, 209, 0.699);
}

.imagem-projeto {
  width: 550px;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(137, 43, 226, 0.651);
}

/* -------------------  Contatos --------------------- */


.box-contatos {
  background: #f4eafd;
  width: 1136px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px dashed rgba(128, 38, 212, 0.815);
}

.box-img {
 display: block;

}

.img-contat {
  width: 250px;
  height: auto;
  display: grid;
  border:2px solid rgba(154, 0, 185, 0.445);
  border-radius: 15px;
  margin: 150px 0px 0 50px ;
 }

 .box-img a {
  padding: 10px 0;
  text-decoration: none;
  font-size: 12px;
  color: rgb(132, 10, 163);
 }

.box-form {
  width: 656px;
  height: 596px;
  display: grid;
}

.topo {
  display:block;
  height: 100px;
}

.topo h2 {
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  margin-left: 1rem;
  padding-bottom: 10px;
  padding-top: 25px;
}
.topo p {
  text-align: left;
  margin-left: 1em;
  padding-bottom: 15px;
  line-height: 21px;
}

.campo {
  height: auto;
  padding: 4px 10px;
}

form {
  display: block;
  
}

form label {
  height: 40px;
  display: block;
  font-size: 14px;
  padding: 15px 15px;
  background: #fdfdfd;
  color: rgb(68, 132, 250);

  margin: 25px 0;

  /* Estilizando a Borda*/
  border-bottom: 2px solid blueviolet;
  border-radius: 5px;
  box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.459);
}

.input-padrao {
  display: block;
  font-size: 15px;
  width: 100%;
  height: 32px;
  border: none;
  
}

.input-text {
  width: 100%;
  border: none;
  margin: 10px 0 ;
  font-size: 15px;
}

.input-textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  /* Desabilitar ajuste de tamanho da caixa*/
  resize: none;

}
/* label text area*/
.lbl-ta {
  height: 100px;
  display: block;
  font-size: 14px;
  padding: 15px 15px;
  background: #fdfdfd;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.459);
  margin: 5px 0;
}


/* Retirar Borda do input*/
.input-padrao:focus, .input-text:focus, .input-textarea:focus {
  box-shadow: 0 0 0 0;
  outline: 0
}

.botao {
  width: 160px;
  height: 30px;
  background-color: #ffffff; /* Green */
  border: 1px solid rgb(98, 0, 128);
  color: blueviolet;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;

}

.botao:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(154, 54, 247); /* Green */
  color: white;
  
}


/* FOOTER */
footer {
  width:100%;
  text-align: center;
  padding:50px 0px;
  margin-top: 50px;
  color: white;
  border-top: 2px solid blueviolet;
  background: linear-gradient(rgb(105, 10, 58), purple);
  
}

footer p {
  color: #f9eafd;
  text-align: center;
  
}

footer p spam {
  font-style: italic;
  font-weight: 600;
  color: rgb(209, 181, 255);
}